<div class="container">
    <%= form_for @image, {:multipart => true} do |f| %>
        <div class="row">
            <% if @image.errors.any? %>
                <div class="col-xs-12">
                    <div id="error_explanation">
                        <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

                        <ul>
                            <% @image.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            <% end %>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <%= f.file_field :file %>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" style="height:20px;"></div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <%= f.label :name, 'Title ' %>
            </div>
            <div class="col-xs-12">
                <%= f.text_field :name, size: '50', maxlength: 108 %>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" style="height:20px;"></div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <%= f.label 'Description' %>
            </div>
            <div class="col-xs-12">
                <%= f.text_area :description, size: '50x10', maxlength: '500', onkeyup: 'textAreaMaxLength(this);' %>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" style="height:20px;"></div>
        </div>

        <div class="row">
            <div class="actions">
                <div class="col-xs-12">
                    <%= f.submit 'Upload' %>
                </div>
            </div>
        </div>
    <% end %>
</div>
