<div class="container">

    <!--Pager-->
    <ul class="pager">
        <li>
            <% if @previous_image_id %>
                <a href="<%= image_path(@previous_image_id) %>">Previous</a>
            <% else %>
                <a href="#">Previous</a>
            <% end %>
        </li>

        <li><a href="<%= images_path %>">Gallery</a></li>

        <li>
            <% if @next_image_id %>
                <a href="<%= image_path(@next_image_id) %>">Next</a>
            <% else %>
                <a href="#">Next</a>
            <% end %>
        </li>
    </ul>

    <!--Image-->
    <div class="testi">
        <h1><%= @image.name %></h1><br>
        <%= link_to(image_tag(@image.file_url(:large), class: 'image-responsive'), @image.file_url) %><br>
        <%= @image.description %><br>


        <!--Comments-->
        <h2>Comments:</h2>
        <% @image.comments.each do |c| %>
            <%= c.nickname %>: <%= c.content %><br>
        <% end %>
        <br><br>

        <%= form_for @comment do |f| %>
            <%= f.hidden_field :image_id, value: @image.id %>

            <%= f.text_area :content, class: 'form-control', size: '75' %><br>
            Nickname: <%= f.text_field :nickname %><br><br>

            <div class="actions">
                <%= f.submit 'Submit' %>
            </div>
        <% end %>
    </div>
</div>
